.book-show {
  background-color: #f8f8f8;
  width: 100vw;
  padding: 5vh 0;

}

.show-book-image-content {
  text-align: center;
  margin-bottom: 20px;

}

.show-book-box-img {
  height: 50vh;
  width: 25vw;
}

.book-explain {
  font-size: 25px;
  font-weight: bold;
  padding: 0px 20px;
  margin: 20px 0;
  background-color: lightgray;

}
.show-book-title {
  font-size: 20px;
  width: 100vw;
  padding-left: 10px;
}

.show-book-author {
  font-size: 20px;
  width: 100vw;
  padding-left: 10px;

}

.show-book-story {
  font-size: 20px;
  width: 100vw;
  padding-left: 10px;
  
}

.show-book-review {
  font-size: 20px;
  width: 100vw;
  padding-left: 10px;
  
}

.edit-destroy-btn {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin: 40px 0;
  border-top: #cdcdcd solid;
}

.book-edit-btn {
  color: #3b3b3b;
  cursor: pointer;
  margin-right: 20px;
}

.book-destroy-btn {
  color: #3b3b3b;
  cursor: pointer;
  margin-left: 20px;

}
.comment-box {
  width: 50vw;
  height: 75vh;
  background-color: #fff;
  margin: 5vh 0;
  text-align: center;
  margin: auto;
}

.comment-text {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: solid 2px #dedede;
  resize: none;
  margin-bottom: 30px;
}

.comment-btn {
  line-height: 48px;
  background-color: #3b3b3b;
  border: 1px solid #3b3b3b;
  color: #fff;
  width: 50%;
  min-width: 150px;
  font-size: 18px;
  border-radius: 100px;
  margin: 50px 0 20px 0;
  cursor: pointer;
}

.comment-list {
  font-size: 18px;
  font-weight: bold;
  padding: 0px 20px;
  margin: 20px 0;
  /* background-color: lightgray; */

}

.back {
  text-align: center;
  margin: 50px;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  
}

.book_back_btn {
  color: #3b3b3b;

}

.sort-message {
  font-weight: bold;
  font-size: 20px;


}